* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-menu: #8A8A9A;
    --cor-menu-item-ativo: #4F4F57;
    --cor-texto: #606c76;
    --cor-blockquote: #d1d1d1;
    --cor-borda-esquerda-codigo: #9b4dca;
    --cor-fundo-codigo: #f4f5f6;
}

link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

blockquote {
    border-left: 0.3rem solid var(--cor-blockquote);
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;
}

/* Precisa escapar o código primeiro */
code {
    color: var(--cor-texto);
    border-left: 0.3rem solid var(--cor-borda-esquerda-codigo);
    background: var(--cor-fundo-codigo);
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    overflow-y: hidden;
}


.menu {
    background-color: var(--cor-menu);
}

.menu__item--ativo {
    background-color: var(--cor-menu-item-ativo);
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    padding: 1rem !important;
}

.titulo {
    color: var(--cor-texto);
    font-size: 4rem;
}

.subtitulo1 {
    color: var(--cor-texto);
    font-size: 3rem;
}

.subtitulo2 {
    color: var(--cor-texto);
    font-size: 2rem;
}

.texto {
    color: var(--cor-texto);
    font-size: 1.2rem;
}

@media (min-width: 992px) {
    .menu {
        height: 4rem;
    }

    .nav-link {
        height: 4rem !important;
        white-space: nowrap !important;
        line-height: 3.125 !important;
    }
}
