* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-menu: #8A8A9A;
    --cor-menu-item-ativo: #4F4F57;
}

link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.menu {
    background-color: var(--cor-menu);
}

.menu__item--ativo {
    background-color: var(--cor-menu-item-ativo);
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    padding: 1rem !important;
}

@media (min-width: 992px) {
    .menu {
        height: 4rem;
    }

    .nav-link {
        height: 4rem !important;
        white-space: nowrap !important;
        line-height: 3.125 !important;
    }
}
